= form_for(@event, html: { class: 'form-horizontal'}) do |f|
  .form-group
    = f.label "Title", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label "Location", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :location, class: 'form-control'

  .form-group
    = f.label "Start", class: "control-label col-sm-2"
    .col-sm-10
      = f.text_field :date_start, class: "form-control datepicker"
      = f.text_field :start_time, class: "form-control timepicker"

  .form-group
    = f.label "End", class: "control-label col-sm-2"
    .col-sm-10
      = f.text_field :date_end, class: "form-control datepicker"
      = f.text_field :end_time, class: "form-control timepicker"

  = f.submit "Submit", class: "btn btn-default"
  .btn.btn-default
    = link_to "Back", events_path