%div.title
  - if params[:date].blank?
    %h1 Cписок событий -> Все даты
  - else
    %h2 Список событий -> #{@date.to_date.strftime("%B %d, %Y")}

%br
  %table.table
    %thead
      %tr
        %th Title
        %th Location
        %th Time Start
        %th Time End
        %th Already done
        %th Actions

    %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.location
        %td= event.date_start
        %td= event.date_end
        %td
        %td
          = link_to "Edit", edit_event_path(event.id, date: params[:date_start]), class: 'btn btn-default btn-sm'
          = link_to "Remove", event_path(event.id, date: params[:date_start]), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default btn-sm'

= link_to "Back", root_path, class: "btn btn-sm btn-default"

= link_to "Create new event", new_event_path(date: params[:date_start]), class: "btn btn-sm btn-default"